.content404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
   padding-bottom: 4rem;
    background-color: hsl(180, 100%, 50%);
}

.box404 {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.content404 h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 2rem;
    width: 100%;
}

.content404 p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
    width: 100%;
}

.content404 h3 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
    width: 100%;
}

.content404 a {
    text-decoration: none;
}

.content404 button {
   background-color: black;
   color: aliceblue;
   padding: 0.5rem;
   border: none;
   border-radius: 1rem;
   font-size: small;
   width: 100%;
}

